svg.plot {
  border: 1px solid black;
}

.brush .selection {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.highlighted .selection {
  stroke: orange;
  stroke-width: 2;
}

.axis text {
  font: 11px sans-serif;
  fill: steelblue;
}

.axis--y g.tick line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.axis--y .domain {
  stroke: transparent;
}

rect.panel {
  stroke: steelblue;
  stroke-width: 2.5;
  fill-opacity: 0.05;
  cursor: move;
  pointer-events: all;
}
rect.shape.highlighted {
  fill: white !important;
}
path.connection {
  fill: none;
  shape-rendering: "optimizeQuality";
}
path.connection.local {
  stroke-width: 1;
  stroke: #777;
  opacity: 0.33;
}
path.connection.junction, svg path.connection.ALT {
  stroke-width: 2;
  stroke: red;
  opacity: 0.5;
}
path.connection.LOOSE {
  stroke-width: 2;
  stroke: steelblue;
  stroke-dasharray: 3, 1;
  opacity: 0.75;
}
path.connection.highlighted {
  stroke-width: 3 !important;;
  opacity: 1 !important;;
}
div.popover {
  max-width: 100%;
  position: absolute;
  pointer-events: none;
  background: rgba(255,255,255,0.5);
}
div.popover .table-label {
  color: #404041;
  line-height:16px;
  padding: 5px 0px 3px 0px;
}
div.popover .table-value {
  color: #404041;
  line-height: 16px;
  padding: 5px 5px 3px 5px;
}