.*
[#]*[#]
.\#*
*~
.Rhistory
_build*
.Rproj.user
*-concordance.tex
*.log
*.synctex.gz
*.tex
batch.R
docs/tutorial_files/figure-html/unnamed-chunk-7-1.png
docs/tutorial_files/figure-html/unnamed-chunk-9-1.png
docs/tutorial_files/figure-html/unnamed-chunk-10-1.png
docs/tutorial_files/figure-html/unnamed-chunk-11-1.png
docs/tutorial_files/figure-html/unnamed-chunk-12-1.png
docs/tutorial_files/figure-html/unnamed-chunk-13-1.png
docs/tutorial_files/figure-html/unnamed-chunk-14-1.png
docs/tutorial_files/figure-html/unnamed-chunk-18-1.png
docs/tutorial_files/figure-html/unnamed-chunk-20-1.png
docs/tutorial_files/figure-html/unnamed-chunk-21-1.png
docs/tutorial_files/figure-html/unnamed-chunk-22-1.png
docs/tutorial_files/figure-html/unnamed-chunk-23-1.png
docs/tutorial_files/figure-html/unnamed-chunk-24-1.png
docs/tutorial_files/figure-html/unnamed-chunk-25-1.png
docs/tutorial_files/figure-html/unnamed-chunk-26-1.png
docs/tutorial_files/figure-html/unnamed-chunk-27-1.png
docs/tutorial_files/figure-html/unnamed-chunk-28-1.png
docs/tutorial_files/figure-html/unnamed-chunk-29-1.png
docs/tutorial_files/figure-html/unnamed-chunk-30-1.png
docs/tutorial_files/figure-html/unnamed-chunk-31-1.png
docs/tutorial_2.html
docs/tutorial_2.Rmd
docs/tutorial_files/figure-html/unnamed-chunk-32-1.png
docs/tutorial_files/figure-html/unnamed-chunk-33-1.png
