svg .axis text {
  font: 12px sans-serif;
  fill: steelblue;
}
svg .legend-container .tick line {
  stroke: #777;
}
svg .legend-container text {
  font: 12px sans-serif;
  fill: steelblue;
}
svg .control-container circle {
  cursor: pointer;
}
svg .control-container circle.highlight {
  stroke: #333;
  stroke-width: 2;
  filter: url('#md-shadow');
}
svg .control-container circle.selected {
  stroke: #333;
  stroke-width: 2;
  filter: url('#md-shadow');
}
svg .control-container text.button-text {
  font: 14px sans-serif;
  fill: white;
  paint-order: stroke;
  stroke: #777;
  stroke-width: 1.33px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  pointer-events: none;
}
svg .panels-container .axis--y g.tick line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
svg rect.shape.highlighted {
  fill: white !important;
}
svg rect.shape {
  stroke: #777;
  fill: #EAEAEA;
}
svg rect.background {
  opacity: 0.05;
}
svg line.border {
  stroke: #777;
}
svg line.gridline {
  stroke: #777;
  opacity: 0.5;
  stroke-dasharray: 2 2;
}
svg path.connection {
  fill: none;
  shape-rendering: "optimizeQuality";
}
svg path.connection.local {
  stroke-width: 1;
  stroke: #777;
  opacity: 0.33;
}
svg path.connection.junction, svg path.connection.ALT {
  stroke-width: 2;
  stroke: red;
  opacity: 0.5;
}
svg path.connection.LOOSE {
  stroke-width: 2;
  stroke: steelblue;
  stroke-dasharray: 3, 1;
  opacity: 0.75;
}
svg path.connection.highlighted {
  stroke-width: 3;
  opacity: 1;
}
svg  .zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
  stroke: black;
  stroke-width: 0.9;
}
div.popover {
  max-width: 100%;
  position: absolute;
  pointer-events: none;
}
div.popover .table-label {
  color: #404041;
  line-height:16px;
  padding: 5px 0px 3px 0px;
}
div.popover .table-value {
  color: #404041;
  line-height: 16px;
  padding: 5px 5px 3px 5px;
}